body {
  background-color: #bcb9d8;
  zoom: 80%;
}
.topnav {
  background-color: #61678b;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 5px 10px black;
  position: relative;
}

.topnav a {
  float: left;
  color: #f2f2f2; /*шрифт*/
  text-align: center;
  padding: 60px 60px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #dedeea; /*плашки когда наводишь*/
  color: black; /* цвет в плашке когда наводишь*/
}

.topnav a.active {
  background-color: #78acc1;
  color: white;
}

.img {
  float: right;
  height: 130px;
  width: 130px;
  padding-right: 30px;
  padding-top: 10px;
  transition: 0.5s;
}
img:hover {
  transform: scale(1.2);
}
.textup {
  font-size: 40px;
  float: right;
  color: #f2f2f2;
  font-family: monospace;
  font-style: italic;
}
.dropbtn {
  background-color: #61678b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  float: left;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #8488d5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
  background-color: #dedeea;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {
  background-color: #98dfd0;
}
.imgup {
  width: 25px;
  height: 25px;
}
.tup {
  transition: 0.5s;
}
.tup:hover {
  transform: scale(1.2);
}
h1 {
  font-size: 45px;
  font-family: monospace;
}
figure {
  display: inline-block;
  vertical-align: baseline;
  width: 100 px;
  margin: 10px; /*поменять если картинки не ровные*/
}
.gallery {
  border: 1px solid black;
  background-color: hotpink;
  padding: 5px;
  width: 242px;
  height: 357px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 3px;
}
.overlay {
  display: none;
  position: absolute;
}
a:hover .overlay {
  display: block;
  background-color: #61678b;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  width: 1350px;
}
.tdw {
  margin-left: 20px;
}

form {
  position: relative;
  width: 300px;
  margin: 0 auto;
  margin-top: 45px;
  margin-left: 1120px;
}
input,
button {
  border: none;
  outline: none;
  border-radius: 3px;
}
input {
  width: 350px;
  height: 42px;
  background: #f2f2f2;
  padding-left: 15px;
}
.search-button {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: -40px;
  background: #78acc1;
  cursor: pointer;
}

.search-button::before {
  content: "?";
  font-family: FontAwesome;
  color: #f9f0da;
  font-size: 20px;
  font-weight: bold;
}
.cart-button {
  position: fixed;
  bottom: 20px !important;
  right: 20px !important;
  background-color: #78acc1;
  color: rgb(0, 0, 0);
  padding: 30px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-button:hover {
  background-color: #487c91;
  color: white;
}
.telegram-button {
  position: fixed;
  bottom: 20px;
  right: 200px;
  background-color: rgb(127, 199, 255);
  color: rgb(0, 0, 0);
  padding: 25px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.telegram-button:hover {
  background-color: #2081b8;
  color: white;
}

.rand-button {
  position: fixed;
  bottom: 20px;
  right: 390px;
  background-color: rgb(255, 189, 136);
  color: rgb(0, 0, 0);
  padding: 25px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}
.rand-button:hover {
  background-color: rgb(182, 115, 60);
  color: white;
}
#recommended-book {
  position: fixed;
  bottom: 20px;
  right: 600px;
  background-color: rgb(172, 225, 175);
  color: rgb(0, 0, 0);
  padding: 25px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

#recommended-book:hover {
  background-color: #45a049;
  color: white;
}
